{% extends 'shared/layout.html' %}

{% block title %}
    Reset Password
{% endblock %}

{% block content %}
    <section class="signin sec_form">
        <div class="form_container">
            <p class="title">Reset Password</p>

            <form method="post" action="" class="form">
                {% csrf_token %}
                <div>
                    {{ reset_password_form.password }}
                    {{ reset_password_form.password.errors }}
                </div>
                <div>
                    {{ reset_password_form.confirm_password }}
                    {{ reset_password_form.confirm_password.errors }}
                </div>
                <button type="submit" class="form-btn">Reset Password</button>
            </form>
        </div>
    </section>
{% endblock %}