<aside class="sidebar">
    <div class="user-profile">

        {% if current_user.avatar %}
            <img
                    src="{{ current_user.avatar.url }}"
                    alt="Profile"
                    class="profile-img"
            />
        {% endif %}
        <h3>{{ current_user.get_full_name }}</h3>
        <p>Premium Member</p>
    </div>

    <nav class="sidebar-nav">
        <ul>
            <li class="active">
                <a href="{% url 'user_panel_dashboard' %}"><i class="fas fa-home"></i> Dashboard</a>
            </li>
            <li>
                <a href="{% url 'edit_profile_page' %}"><i class="fas fa-user"></i> Profile</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-shopping-cart"></i> Orders</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-heart"></i> Wishlist</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-map-marker-alt"></i> Addresses</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-credit-card"></i> Payments</a>
            </li>
            <li>
                <a href="{% url 'setting_page' %}"><i class="fas fa-cog"></i> Settings</a>
            </li>
            <li>
                <a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
        </ul>
    </nav>
</aside>