{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>User Dashboard</title>
    {% comment %}LINKS{% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/user_panel.css"/>
    {% comment %}END OF LINKS{% endcomment %}
</head>
<body>
<div class="dashboard-container">
    <!-- Sidebar Navigation -->
    {% render_partial 'user_panel_module.views.side_bar_components' %}
    <!-- Main Content -->
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
</div>

<script src="/static/js/user_panel.js"></script>
</body>
</html>
