{% extends 'user_panel_module/base.html' %}
{% load render_partial %}
{% block title %}
    Settings
{% endblock %}

{% block content %}
    <header class="dashboard-header">
        <h1>Account Settings</h1>

    </header>

    <!-- Settings Tabs -->
    <div class="settings-tabs">
        <button class="tab-btn active" data-tab="account">Account</button>
        {% comment %}  <button class="tab-btn" data-tab="notifications">Notifications</button>
        <button class="tab-btn" data-tab="security">Security</button>
        <button class="tab-btn" data-tab="payment">Payment</button>
        <button class="tab-btn" data-tab="advanced">Advanced</button>{% endcomment %}
    </div>

    <!-- Tab Content -->
    <div class="settings-content">
        <!-- Account Tab -->
        <div id="account" class="tab-pane active">
            <form class="settings-form password-form" action="{% url 'setting_page' %}" method="post">
                {% csrf_token %}
                <h2><i class="fas fa-lock"></i> Change Password</h2>

                <div class="form-group">
                    <label for="current_password">{{ change_password_form.current_password.label }}</label>
                    {{ change_password_form.current_password }}
                    {{ change_password_form.current_password.errors }}
                </div>

                <div class="form-group">
                    <label for="new_password">{{ change_password_form.password.label }}</label>
                    {{ change_password_form.password }}
                </div>

                <div class="form-group">
                    <label for="confirm_password">{{ change_password_form.confirm_password.label }}</label>
                    {{ change_password_form.confirm_password }}
                    {{ change_password_form.confirm_password.errors }}
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn save-btn">Change Password</button>
                </div>
            </form>
            
        </div>
    </div>
{% endblock %}