{% extends 'shared/layout.html' %}
{% load humanize %}
{% block title %}
    Basket
{% endblock %}

{% block content %}
    <div id="order_detail_content">
        {% include 'user_panel_module/user_basket_content.html' %}

        <div class="newsletter">
            <div class="containeres">
                <div class="text">
                    <img src="/static/img/icon_email.png" alt=""/>
                    <div class="content">
                        <h4>sign up to newsletter</h4>
                        <p>Get email updates about our latest shop...and receive</p>
                        <h6>$30 Coupon For First Shopping</h6>
                    </div>
                </div>

                <form action="" class="newsletter_form">
                    <input type="email" placeholder="Enter your email here..."/>
                    <button type="submit">subscribe</button>
                </form>
            </div>
        </div>

        <div class="back_to_top">
            <p>back to top</p>
        </div>
    </div>
{% endblock %}

