{% extends 'user_panel_module/base.html' %}

{% block title %}User Dashboard{% endblock %}


{% block content %}
    <header class="dashboard-header">
        <h1>Dashboard Overview</h1>
        <div class="header-actions">

            <div class="user-menu">
                {% if current_user.avatar %}
                    <img
                            src="{{ current_user.avatar.url }}"
                            alt="User"
                    />
                {% endif %}
                <span>{{ current_user }}</span>
            </div>
        </div>
    </header>

    <!-- Stats Cards -->
{#    <section class="stats-cards">#}
{#        <div class="stat-card">#}
{#            <div class="card-icon">#}
{#                <i class="fas fa-shopping-bag"></i>#}
{#            </div>#}
{#            <div class="card-content">#}
{#                <h3>Total Orders</h3>#}
{#                <p>24</p>#}
{#                <span>5 this month</span>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="stat-card">#}
{#            <div class="card-icon">#}
{#                <i class="fas fa-heart"></i>#}
{#            </div>#}
{#            <div class="card-content">#}
{#                <h3>Wishlist</h3>#}
{#                <p>8</p>#}
{#                <span>3 on sale</span>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="stat-card">#}
{#            <div class="card-icon">#}
{#                <i class="fas fa-wallet"></i>#}
{#            </div>#}
{#            <div class="card-content">#}
{#                <h3>Wallet Balance</h3>#}
{#                <p>$245.50</p>#}
{#                <span>$50 earned</span>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="stat-card">#}
{#            <div class="card-icon">#}
{#                <i class="fas fa-star"></i>#}
{#            </div>#}
{#            <div class="card-content">#}
{#                <h3>Reward Points</h3>#}
{#                <p>1,250</p>#}
{#                <span>250 to next level</span>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
    <!-- Personal Information Section -->
    <section class="personal-info-section">
        <div class="section-header">
            <h2>Personal Information</h2>
            <a class="edit-btn" href="{% url 'edit_profile_page' %}">Edit Profile</a>
        </div>

        <div class="info-content">
            <div class="profile-picture">
                {% if current_user.avatar %}
                    <img
                            src="{{ current_user.avatar.url }}"
                            alt="Profile"
                    />
                {% endif %}
                {#                <button class="change-photo">Change Photo</button>#}
            </div>

            <div class="info-details">
                <table>
                    <tr>
                        <th>First Name:</th>
                        <td>{{ current_user.first_name }}</td>
                    </tr>
                    <tr>
                        <th>Last Name:</th>
                        <td>{{ current_user.last_name }}</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td>{{ current_user.email }}</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>{{ current_user.address }}</td>
                    </tr>
                    <tr>
                        <th>Member Since:</th>
                        <td>{{ current_user.date_joined |date }}</td>
                    </tr>

                </table>
            </div>
        </div>
    </section>

    <!-- Recent Orders Section -->
    <section class="recent-orders">
        <div class="section-header">
            <h2>Recent Orders</h2>
            <a href="{% url 'user_shopping_page' %}" class="edit-btn">View All</a>
        </div>

        <div class="orders-table">
            <table>
                <thead>
                <tr>
                    <th>Order ID</th>
                     <th>Total</th>
                    <th>Date</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for detail in order_detail %}
                    <tr>
                        <td>{{ detail.id }}</td>
                        
                        <td>${{ detail.calculate_total_price }}</td>
                        <td>{{ detail.payment_date }}</td>
                        <td><a href="{% url 'user_shopping_details_page' order_id=detail.id %}">View</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}